<div class="w-full h-full gap-6 flex justify-center items-center p-10 flex-col">
    <div class="text-2xl font-bold text-purple-700">
        Submitted Succesfully!
    </div>
    <div>
        <img src="check-green.gif" alt="" class="h-50">
    </div>
    <div>
        <p class="text-center text-lg">Please check your email (<b>{{email}}</b>) regularly for updates regarding your enrollment. The registrar will review your credentials and send you any important notifications.</p>
    </div>
    <div>
        <button class="text-2xl text-purple-700 font-bold">Okay</button>
    </div>
</div>